.land
    fill: #999
    fill-opacity: 1
    stroke: white
    stroke-opacity: 1
    stroke-width: 0.5

.land--color
    fill: #bb9574

.france-picture
    padding-top: 2em

@media screen and (max-width: 959px)
    .france-picture
        width: 350px
        height: 350px

@media screen and (min-width: 960px)
    .france-picture
        width: 550px
        height: 550px
